.mfr-core__password-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .section-spacer {
    width: 100%;
    position: initial;

    .modal-trigger {
      position: absolute;
      top: rem-calc(10px);
      right: rem-calc(10px);
      width: rem-calc(40px);
      height: rem-calc(40px);
      cursor: pointer;
      @include transition($global-transition);

      @include breakpoint(large up) {
        top: rem-calc(20px);
        right: rem-calc(20px);
        width: rem-calc(50px);
        height: rem-calc(50px);
      }

      @include hover {
        @include transform(scale(0.95));
      }
    }
  }

  .section-content {
    .socials {
      .list-social {
        gap: rem-calc(20px);
        margin: rem-calc(40px) 0 0;
      }
    }
  }
}

.mfr-core__password-page-modal {
  position: relative;
  max-width: rem-calc(650px);
  width: 100%;
  margin: auto;
  background-color: $white;

  .modal-header {
    text-align: center;
    padding: rem-calc(25px) rem-calc(10px) rem-calc(15px);

    @include breakpoint(large up) {
      padding: rem-calc(50px) rem-calc(30px) rem-calc(10px);
    }

    h3 {
      letter-spacing: normal;
    }

    button {
      color: var(--font-body-color);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(48px);
      height: rem-calc(48px);
      right: rem-calc(15px);
      top: rem-calc(15px);
      position: absolute;
      background-color: $white;
      @include border-radius(100%);
      @include transition($global-transition);

      @include breakpoint(medium down) {
        display: none;
      }

      @include hover {
        @include transform(scale(1.1));
      }

      &::before,
      &::after {
        content: "";
        display: block;
        width: rem-calc(28px);
        height: rem-calc(2px);
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        background-color: var(--font-body-color);
      }

      &::before {
        @include transform(rotate(45deg));
      }

      &::after {
        @include transform(rotate(-45deg));
      }
    }
  }

  .modal-body {
    padding: rem-calc(25px) rem-calc(25px) rem-calc(35px);

    @include breakpoint(large up) {
      padding: rem-calc(28px) rem-calc(30px) rem-calc(32px);
    }

    form {
      .errors {
        text-align: center;
        margin-bottom: rem-calc(10px);

        ul {
          @include clear-list;

          li {
            @include small;
            font-weight: 700;
            font-style: italic;
            color: red;
          }
        }
      }

      .form-field {
        position: relative;

        .password-visibility {
          position: absolute;
          right: rem-calc(20px);
          bottom: rem-calc(18px);
        }
      }

      input:not([type="submit"]),
      input:not([type="checkbox"]),
      input:not([type="radio"]) {
        @include form-inputs;
        @include border-radius(rem-calc(12px));
      }

      input[type="submit"] {
        color: $white;
        letter-spacing: normal;
        text-align: center;
        width: rem-calc(210px);
        height: rem-calc(65px);
        padding: rem-calc(10px);
        margin: rem-calc(20px) auto 0;
        display: block;
        background-color: $black;
        @include border-radius(rem-calc(12px));
      }
    }
  }
}

.mfr-core__password-page-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem-calc(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}