@import "../variables";
@import "../tools/util/util";
@import "../tools/mixins";

.mfr-product__customer-testimonials {
  .customer-testimonials__wrapper {
    width: 100%;
    min-width: 0;
  }

  .customer-testimonials {
    &.has-caption {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      gap: rem-calc(25px);

      @include breakpoint(large up) {
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        gap: rem-calc(50px);
      }

      .customer-testimonials__carousel {
        @include breakpoint(large up) {
          flex-grow: 1;
          justify-content: flex-end;
          flex-wrap: unset;
        }
      }
    }

    &__carousel-caption {
      width: 100%;
      @include large;
      font-family: $custom-font-name-1;
      line-height: 1.333em;
      font-weight: 400;
      letter-spacing: rem-calc(0.11px);
      margin: 0;
      padding: 0 rem-calc(20px);
      @include transition($global-transition);

      @include breakpoint(large up) {
        padding: 0;
        flex-shrink: 0;
        width: 21%;
        max-width: rem-calc(288px);
      }
    }

    .customer-testimonials__entry-v4 {
      p {
        margin-bottom: 0;
      }
    }

    .mfr-carousel__item {
      flex-shrink: 0;
      min-height: 100%;
      display: flex;
      align-items: stretch;
      box-sizing: content-box;

      > * {
        @include transition($global-transition);

        @include enter-animation {
          @include transform(translateY($enter-transform-value));
          @include opacity(0);
        }
      }


      &:first-child {
        @include breakpoint(large up) {
          @include left-carousel-entry-spacing(calc(var(--grid-container-padding-mobile) * -1));
        }
      }

      &:last-child {
        @include breakpoint(large up) {
          @include right-carousel-entry-spacing(calc(var(--grid-container-padding-desktop) * -1));
        }
      }
    }
  }

  .flickity-page-dots {
    gap: rem-calc(8px);

    .dot {
      flex-grow: 0;
      width: rem-calc(40px);
      max-width: rem-calc(40px);
      height: rem-calc(2px) !important;
      @include border-radius(rem-calc(1px));
      @include opacity(0.2);

      &.is-selected {
        @include opacity(1);
      }
    }
  }
}
