.list-social {
  &__item {
    a {
      display: block;
      width: rem-calc(56px);
      height: rem-calc(56px);
      display: flex;
      justify-content: center;
      align-items: center;
      @include transition($global-transition);
      @include border-radius( 50% );

      @include hover {
        @include transform( scale( 0.95 ) );
      }

      svg {
        height: rem-calc( 28px );
        width: auto;

        path {
          fill: currentColor;
        }
      }
    }
  }
}
